Django==1.4.13
Jinja2==2.7
Mako==0.8.1
MarkupSafe==0.15
PAM==0.4.2
Pillow==2.0.0
PyYAML==3.11
Pygments==1.6
SecretStorage==1.0.0
South==0.8.4
Sphinx==1.1.3
TRML2PDF==1.0
Twisted-Core==13.0.0
Twisted-Names==13.0.0
Twisted-Web==13.0.0
adium-theme-ubuntu==0.3.3
amqp==1.4.5
anyjson==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
billiard==3.3.0.17
celery==3.1.11
chardet==2.0.1
command-not-found==0.3
configglue==1.1.2
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
django-caching-app-plugins==0.1.4
django-celery==3.1.10
django-debug-toolbar==1.2
django-keyedcache==1.5.1
django-livesettings==1.4-14
django-model-utils==2.0.3
django-registration==1.0
django-threaded-multihost==1.4-1
django-timezones==0.2
django-tinymce==1.5.2
django-vanilla-views==1.0.3
djrill==1.0.0
docutils==0.11
duplicity==0.6.21
firepy==0.1.5
gyp==0.1
httplib2==0.8
ipython==0.13.2
keyring==1.6
kombu==3.0.15
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lockfile==0.8
lxml==3.2.0
mercurial==2.6.3
oauth==1.0.1
oauthlib==0.5.1
oneconf==0.3.5
pep8==1.4.6
pexpect==2.4
piston-mini-client==0.7.5
prices==0.5.1
protobuf==2.4.1
psycopg2==2.4.5
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.63
pycurl==7.19.0
pygobject==3.10.0
pyinotify==0.9.3
pyserial==2.6
pysmbc==1.0.13
python-apt==0.8.9.1ubuntu1
python-debian==0.1.21-nmu2ubuntu1
pytz==2014.2
pyxdg==0.25
reportlab==2.6
requests==1.2.3
rhythmbox-ubuntuone==13.10
roman==1.4.0
satchless==1.1.3
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.3.0
six==1.3.0
software-center-aptd-plugins==0.0.0
sorl-thumbnail==11.12
sqlparse==0.1.11
ssh-import-id==3.19
system-service==0.1.6
ubuntuone-storage-protocol==13.10
unity-lens-photos==1.0
urllib3==1.6
virtualenv==1.11.5
virtualenvwrapper==3.4
wadllib==1.3.2
wsgiref==0.1.2
xdiagnose==3.6.1
yolk==0.4.3
zope.interface==4.0.5
