{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}
{% load bootstrap %}

	{{ form.media }}

{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li class="active"><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/help/">{% trans "How does this work?" %}</a></li>
{% endblock %}

{% block body %}
	<div class="pull-right">
		<ol class="breadcrumb">
			<li class="active">{% trans "Coaching Sessions" %}</li>
		</ol>
	</div>
	<h1>{% trans "Coaching Sessions" %}</h1>
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">{% trans "Your Upcoming Coaching Sessions" %}</div>
		{% if practice_list %}
			<div class="panel-body">
				<p>{% trans "Prepare for a session, Start a session, cancel a session, or manage session reports." %}</p>
			</div>
		{% else %}
			<div class="panel-body">
				<p>{% trans "You have no upcoming Coaching Sessions!" %}</p>
			</div>
		{% endif %}
		<ul class="list-group">
			{% for practice in practice_list %}
				<li class="list-group-item">
					<h3>{{practice.topic.headline}}</h3>
					{% localtime on %}
					<strong>{% trans "When" %}: </strong>{{practice.dateTime}}
					<strong>{% trans "Language" %}: </strong>{{practice.topic.language}}
					<a class="btn btn-primary" href="/coach/practice/{{ practice.pk }}/">{% trans "Start" %}</a><br>
					<form action="/coach/practice/{{ practice.pk }}/cancel/" method="post" accept-charset="utf-8">
				                {% csrf_token %}
				                <p><input class="btn btn-primary" type="submit" value={% trans "Cancel" %}></p>
				        </form>
					{% endlocaltime %}
					
				</li>
			{% endfor %}
		</ul>
	</div>	
	<br>

		{% if is_paginated %}
		<ul class="pagination">
			    {% if page_obj.has_previous %}
				    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
			    {% else %}
				    <li class="disabled"><span>&laquo;</span></li>
			    {% endif %}
		
				{% for i in paginator.page_range %}
				<li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
				{% endfor %}
		
			    {% if page_obj.has_next %}
			   	 <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
			    {% else %}
				    <li class="disabled"><span>&raquo;</span></li>
	   	            {% endif %}
		 </ul>
	{% endif %}


{% endblock%}
