{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}

{% block top_menu %}
	<li class="active"><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/help/">{% trans "How does this work?" %}</a></li>
{% endblock %}

{% block body %}

<div class="col-md-10 col-md-offset-1">
<h1>{% trans "Welcome to Language Lambada" %} {{ user.username }}</h1>

{% if user.is_authenticated %}


	{% if upcoming_practice_sessions %}
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading">{% trans "This week, you have the following practice sessions:" %}</div>
		<ul class="list-group">
		{% for practice in upcoming_practice_sessions %}
			<li class="list-group-item">
				<h3>{{practice.topic.headline}}</h3>
				{% localtime on %}
				<strong>{% trans "When" %}: </strong>{{practice.dateTime}} <br>
				<strong>{% trans "Language" %}: </strong>{{practice.topic.language}} <br>
				<a class="btn btn-primary" href="/practice/{{ practice.pk }}/">{% trans "View Instructions" %}</a>
				<br>
				<br>
				{% endlocaltime %}
		{% endfor %}
		</ul>
		</div>
	{% endif %}


	{% if upcoming_coaching_sessions %}
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading">{% trans "This week, you are coaching the following practice sessions:" %}</div>
		<ul class="list-group">
		{% for practice in upcoming_coaching_sessions %}
			<li class="list-group-item">
				<h3>{{practice.topic.headline}}</h3>
				{% localtime on %}
				<strong>{% trans "When" %}: </strong>{{practice.dateTime}} <br>
				<strong>{% trans "Language" %}: </strong>{{practice.topic.language}} <br>
				<a class="btn btn-primary" href="/coach/practice/{{ practice.pk }}/">{% trans "View Instructions" %}</a>
				<br>
				<br>
				{% endlocaltime %}
		{% endfor %}
		</ul>
	</div>
	{% endif %}


	{% if pending_speech_reports %}
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading">{% trans "You have the following pending speaking reports:" %}</div>
		<ul class="list-group">
		{% for practice in pending_speech_reports %}
			<li class="list-group-item">
				<h3>{{practice.topic.headline}}</h3>
				{% localtime on %}
				<strong>{% trans "When" %}: </strong>{{practice.dateTime}} <br>
				<strong>{% trans "Language" %}: </strong>{{practice.topic.language}} <br>
				<a class="btn btn-primary" href="/report/{{ practice.pk }}/report_add_speech/">{% trans "Create Report" %}</a>
				<br>
				<br>
				{% endlocaltime %}
		{% endfor %}
		</ul>
	</div>
	{% endif %}


	{% if pending_writing_reports %}
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading">{% trans "You have the following pending writing reports:" %}</div>
		<ul class="list-group">
		{% for practice in pending_writing_reports %}
			<li class="list-group-item">
				<h3>{{practice.topic.headline}}</h3>
				{% localtime on %}
				<strong>{% trans "When" %}: </strong>{{practice.dateTime}} <br>
				<strong>{% trans "Language" %}: </strong>{{practice.topic.language}} <br>
				<a class="btn btn-primary" href="/report/{{ practice.pk }}/report_add_writing/">{% trans "Create Report" %}</a>
				<br>
				<br>
				{% endlocaltime %}
		{% endfor %}
		</ul>
	</div>
	{% endif %}


	     
	     
	     {% else %}
      <h5>{% trans "You need to be logged in to see this page." %}</h5>
{% endif %}
</div>
{% endblock%}
