{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% block body %}
{% load i18n %}
{% load tz %}

<h1 id="Login">{% trans "You must log in or" %} <button class="btn btn-primary" data-toggle="modal" data-target="#registerModal">{% trans "Register" %}</button> {% trans "to see this page" %}</h1>

	<br>
	<div class="col-md-4 col-md-offset-1">
	<form class="form-horizontal" action="/user_login/" method="post" accept-charset="utf-8">
		<div class="form-group">
			{% csrf_token %}
			<label for="username">{% trans "Username:" %}</label>
		       	<input class="form-control" type="text" name="username" id="username" value="" size="25" />
		</div>
		<div class="form-group">
			<label for"password">{% trans "Password:" %}</label>
			<input class="form-control" type="password" name="password" value="" size="25" />
		</div>
		<input type="submit" class="btn btn-default"value={% trans "Login" %}>
		<br>
		<a href="/forgot_login/">{% trans "Forgot username or password?" %}</a>
		<br>
		<br>
	</form>
	</div>

{% endblock%}
