{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}
{% load bootstrap %}

	{{ form.media }}

{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li class="active"><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/help/">{% trans "How does this work?" %}</a></li>
{% endblock %}

{% block body %}
	<div class="pull-right">
		<ol class="breadcrumb">
			<li class="active">{% trans "Practice Sessions" %}</li>
		</ol>
	</div>
	<h1>{% trans "Practice Sessions" %}</h1>
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">{% trans "Your Upcoming Practice Sessions" %}</div>
		{% if practice_list %}
			<div class="panel-body">
				<p>{% trans "Start a session, modify a session, cancel a session, or view a session report." %}</p>
				<p>{% trans "Book a Session by clicking below!" %}</p>
				<a class="btn btn-primary" href="/practice/book/">{% trans "Book a Session" %}</a><br>
			</div>
		{% else %}
			<div class="panel-body">
				<p>{% trans "You have no upcoming Practice Sessions! Book a session below." %}</p>
				<a class="btn btn-primary" href="/practice/book/">{% trans "Book a Session" %}</a><br>
			</div>
		{% endif %}
		<ul class="list-group">
			{% for practice in practice_list %}
				<li class="list-group-item">
					<h3>{{practice.topic.headline}}</h3>
					{% localtime on %}
					<strong>{% trans "When" %}: </strong>{{practice.dateTime}} <br>
					<strong>{% trans "Language" %}: </strong>{{practice.topic.language}} <br>
					{% if practice.writing_complete == False or practice.writing_complete == "" %}
						<a class="btn btn-primary" href="/practice/{{ practice.pk }}/">{% trans "Start" %}</a><br>
						<a class="btn btn-primary" href="/practice/{{ practice.pk }}/update/">{% trans "Modify" %}</a><br>
						<form action="/practice/{{ practice.pk }}/delete/" method="post" accept-charset="utf-8">
					                {% csrf_token %}
					                <p><input class="btn btn-primary" type="submit" value={% trans "Cancel" %}></p>
					        </form>
					{% else %}
						<br><p>Lesson Complete!</p><br>
						{% if report.speaking_report_complete and report.writing_report_complete %}
							<a class="btn btn-success" href="/report/{{ practice.pk }}/">{% trans "View Report" %}</a><br>
						{% else %}
							<a class="btn btn-danger">{% trans "Report in Progress" %}</a><br>
						{% endif %}
					{% endif %}
					{% endlocaltime %}
					
				</li>
			{% endfor %}
		</ul>
	</div>	
	<br>

		{% if is_paginated %}
		<ul class="pagination">
			    {% if page_obj.has_previous %}
				    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
			    {% else %}
				    <li class="disabled"><span>&laquo;</span></li>
			    {% endif %}
		
				{% for i in paginator.page_range %}
				<li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
				{% endfor %}
		
			    {% if page_obj.has_next %}
			   	 <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
			    {% else %}
				    <li class="disabled"><span>&raquo;</span></li>
	   	            {% endif %}
		 </ul>
	{% endif %}


{% endblock%}
