{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}

{% block top_menu %}
<li class="active"><a href="#">{% trans "Book a Practice" %}</a></li>
<li><a href="#">{% trans "Manage bookings" %}</a></li>
<li><a href="#">{% trans "My Reports" %}</a></li>
{% endblock %}


{% block left_menu %}
<li class="active"><a href="#">{% trans "Practice a Language" %}</a></li>
	<li><a href="#">{% trans "Guide a Learner" %}</a></li>
	<li><a href="/topic/add/">{% trans "Create a Topic" %}</a></li>
	<li><a href="#">{% trans "How does this work?" %}</a></li>
	<li><a href="#">{% trans "My Profile" %}</a></li>
{% endblock %}

{% block body %}


<h1>{% trans "Welcome to Language Lambada" %} {{ user.username }}</h1>


	{% if user.is_authenticated %}
		<h5>{% trans "This page is under construction." %}</h5>
	{% else %}
		<h5>{% trans "You need to be logged in to see this page." %}</h5>
	{% endif %}

{% endblock%}
