{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}
{% load likes_inclusion_tags %}
{% load bootstrap %}

	{{ form.media }}

{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li class="active"><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/help/">{% trans "How does this work?" %}</a></li>
{% endblock %}

{% block body %}
	<div class="pull-right">
		<ol class="breadcrumb">
			<li><a href="/practice/list/">{% trans "Practice Sessions" %}</a></li>
			<li class="active">{% trans "Session Preview" %}</li>
		</ol>
	</div>
	<h1>{% trans "Practice Session" %}</h1>
	<br>
	<a class="btn btn-primary" href="/practice/{{ object.pk }}/update/">{% trans "Modify" %}</a>
	<a class="btn btn-primary" href="/topic/{{ object.pk }}/delete/">{% trans "Delete" %}</a>
	<!--	<a id="setup-new-conference" class="btn btn-primary setup" href="/topic/{{ object.pk }}/start/">{% trans "Start" %}</a> -->
	<section>
		<input type="text" id="conference-name">
		<a id="setup-new-conference" class="btn btn-primary setup">{% trans "Start" %}</a> 
	</section>
	<h1>{{ object.topic.headline }}</h1>
	{% trans "Language" %}: {{ object.topic.language  }}<br>
	{% trans "Date and Time" %}: {{ object.dateTime  }}<br>

	<table style="width: 100%;" id="rooms-list"></table>
	<div id="audios-container"></div>

	<script>
		var connection = new RTCMultiConnection();
		connection.session = {
			audio: true
		};

		connection.onstream = function(e) {
			audioContainer.insertBefore(e.mediaElement, audioContainer.firstChild);
		};

		var sessions = {};
		connection.onNewSession = function(session) {
			if (sessions[sessions.sessionid]) return;
			sessions[session.sessionid] = session;

			var tr = document.createElement('tr');
			tr.innerHTML = 'td><strong>' + session.extra['session-name'] + '</strong> is running a conference!</td>' + '<td><button class="join">Join</button></td>';
			roomsList.insertBefore(tr, roomsList.firstChild);

			var joinRoomButton = tr.querySelector('.join');
			joinRoomButton.setAttribute('data-sessionid', session.sessionid);
			joinRoomButton.onclick = function() {
				this.disabled = true;
				var sessionid = this.getAttribute('data-sessionid');
				session = sessions[sessionid];
				if (!session) throw 'No such session exists.';
				connection.join(session);
			};
		};

		var audioContainer = document.getElementById('audios-container') || document.body;
		var roomsList = document.getElementById('rooms-list');
		document.getElementById('setup-new-conference').onclick = function() {
			this.disabled = true;
			connection.extra = {
				'session-name': document.getElementById('conference-name').value || 'Anonymous'
					 };
			 connection.open();
		};
		// setup signaling to search existing sessions
		connection.connect();
		(function() {
		 var uniqueToken = document.getElementById('unique-token');
		 if (uniqueToken)
		 if (location.hash.length > 2) uniqueToken.parentNode.parentNode.parentNode.innerHTML = '<h2 style="text-align:center;"><a href="' + location.href + '" target="_blank">Share this link</a></h2>';
		 else uniqueToken.innerHTML = uniqueToken.parentNode.parentNode.href = '#' + (Math.random() * new Date().getTime()).toString(36).toUpperCase().replace( /\./g , '-');
		 })();
	</script>


	<br>
	<a class="btn btn-primary" href="/practice/{{ object.pk }}/update/">{% trans "Modify" %}</a>
	<a class="btn btn-primary" href="/topic/{{ object.pk }}/delete/">{% trans "Delete" %}</a>
	<a class="btn btn-primary" href="/topic/{{ object.pk }}/start/">{% trans "Start" %}</a>
	
	<br>
	<br>
<!--	<form action="/topic/{{ topic.pk }}/delete/" method="post" accept-charset="utf-8">
		{% csrf_token %}
		<p><input class="btn btn-primary" type="submit" value={% trans "Delete" %}></p>
	</form> -->

{% endblock%}
