{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}
{% load bootstrap %}
{% load static %}

	{{ form.media }}


{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li class="active"><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/settings/">{% trans "Settings" %}</a></li>
{% endblock %}

{% block body %}
	<div class="pull-right">
		<ol class="breadcrumb">
			<li><a href="/practice/list/">{% trans "Practice Sessions" %}</a></li>
			<li class="active">{% trans "Book a Session" %}</li>
		</ol>
	</div>
	<h1>{% trans "Practice Session Topics" %}</h1>
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">{% trans "Practice Session Topics" %}</div>
		{% if topic_list %}
			<div class="panel-body">
				<p>{% trans "Choose a Topic for your Practice Session." %}</p>
			</div>
		{% else %}
			<div class="panel-body">
				<p>{% trans "There are no Topics available!" %}</p>
			</div>
		{% endif %}
		<ul class="list-group">
			{% for topic in topic_list %}
				<li class="list-group-item">
					<h3>{{topic.headline}}</h3>
					<strong>{% trans "Language" %}: </strong>{{topic.language}}

					<br>
					<a class="btn btn-primary" href="/practice/topic/{{ topic.pk }}/">{% trans "View" %}</a><br>
					
				</li>
			{% endfor %}
		</ul>
	</div>	

	{% if is_paginated %}
		<ul class="pagination">
			    {% if page_obj.has_previous %}
				    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
			    {% else %}
				    <li class="disabled"><span>&laquo;</span></li>
			    {% endif %}
		
				{% for i in paginator.page_range %}
				<li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
				{% endfor %}
		
			    {% if page_obj.has_next %}
			   	 <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
			    {% else %}
				    <li class="disabled"><span>&raquo;</span></li>
	   	            {% endif %}
		 </ul>
	{% endif %}


{% endblock%}
