{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load l10n %}
{% load tz %}

{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li class="active"><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/settings/">{% trans "Settings" %}</a></li>
{% endblock %}


{% block body %}

	<div class="pull-right">
		<ol class="breadcrumb">
			<li><a href="/practice/list/">{% trans "Practice Sessions" %}</a></li>
			<li><a href="/practice/book/">{% trans "Book a Session" %}</a></li>
			<li><a href="/practice/topic/{{ object.pk }}">{{ object.headline }}</a></li>
				<li class="active">{% trans "Payment" %}</li>
		</ol>
	</div>
	<br>
	<br>
	Insert payment instructions here
	<br>
	<br>
	{% for practice in unpaid_practices %}
		{% localtime on %}
		<h1>{{ practice.topic.headline }}</h1>
		{% trans "When: " %} {{ practice.dateTime }} <br>
		{% trans "Learner: " %} {{ practice.user.username }}<br> 
		{% trans "Coach: " %} {{ practice.coach }} <br>
		<form id="booking-form" class="form form-horizontal" action="/practice/{{ practice.pk }}/add/" method="post" accept-charset="utf-8">
			{% csrf_token %}
			<p><input id="booking-btn" class="btn btn-primary" type="submit" value={% trans "Complete Payment" %}></p>
		</form>
		{% endlocaltime %}
	{% endfor %}
	<br>
{% endblock%}
