{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}
{% load bootstrap %}
{% load static from staticfiles %}

{{ form.media }}
	{% block extra_head %}
 	<link href="{% static "css/star-rating/star-rating.css" %}" media="all" rel="stylesheet" type="text/css" /> 
	<!-- <script src="{% static "js/jquery-1.11.0.min.js" %}"></script> -->
	<script src="{% static "js/countdown/countdown.js" %}"></script>
	<script src="{% static "js/language2_practice.js" %}"></script>
	<script src="{% static "js/star-rating/star-rating.js" %}" type="text/javascript"></script>
	<script src="{% static "js/language2_rating.js" %}" type="text/javascript"></script>
	<!--	<script src="{% static "js/jquery_cookie-1.4.1.js" %}"></script> -->
	{% endblock %}

{% block top_menu %}
<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
<li class="active"><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
<li><a href="/help/">{% trans "How does this work?" %}</a></li>
{% endblock %}

{% block body %}
<div class="pull-right">
	<ol class="breadcrumb">
		<li class="active">{% trans "Practice Sessions" %}</li>
	</ol>
</div>

<div class="col-md-10 col-md-offset-1">
	{% if speakingError %}
	<h1>{% trans "Practice your mistakes" %}</h1>

	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">{% trans "Your Speaking Mistakes" %}</div>
		<div id="speaking-mistakes-panel" class="panel-body">
			<div style="vertical-align: middle;">
				<p><audio id="recording" src="{{S3_URL}}/{{ speakingError.learnerRecording.recording }}" uniqueId="" controls preload type="audio/ogg" style="display:none;"></audio></p> 

				<div class="col-md-2">
					<a id="play-error" class="btn" errorTimeMin="{{ speakingError.error_time_min }}" errorTimeSec="{{ speakingError.error_time_sec }}"><img src="{% static "play_mistake.png" %}"></a> 
				</div>

				<div id="speaking-correction-cover">
					<div class="col-md-8">
						<div class="col-md-4 col-md-offset-4">
							<br>
							<button id="show-speaking-correction" class="btn btn-info btn-lg">{% trans "Show correction" %}</button>
						</div>
					</div>
				</div>


				<div id="audio-correction-objects" style="display:none;">
					<div class="col-md-2">
						<audio id="correction" isAudio="{{ speakingError.correction_recording_flag}}" style="display:none;" src="{{S3_URL}}/{{ speakingError.correction_recording }}" controls preload type="audio/ogg"></audio>
						<a id="play-correction" class="btn" errorNumber="{{speakingError.pk}}"><img src="{% static "play_correction.png" %}"></a> 
						<br>
						<p id="no-audio-correction">{% trans "There is no recorded correction." %}</p>
					</div>


					<div class="col-md-6">
						<h3 id="written-correction" class="text-center">{{ speakingError.correction_text }}</h3>
						<br>
						<p id="no-written-correction">{% trans "There is no written correction." %}</p>
					</div> 
				</div>


				<div class="col-md-2">
					<button id="next-speaking-error" class="btn"><img src="{% static "arrow_right.png" %}"></button> 
				</div>

			</div>
		</div>
		{% endif %}
	</div>

	{% if writingError %}
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">{% trans "Your Writing Mistakes" %}</div>
		<div id="writing-mistakes-panel" class="panel-body">
			<div style="vertical-align: middle;">

				<div id="written-error" class="col-md-5">
					<h3 id="written-error-text" class="alert alert-danger text-center">{{ writingError.original_text }}</h3>
				</div>

				<div id="writing-correction-cover">
					<div class="col-md-5">
						<br>
						<button id="show-writing-correction" class="btn btn-info btn-lg">{% trans "Show correction" %}</button>
					</div>
				</div>

				<div id="writing-correction-objects" style="display:none;">
					<div class="col-md-5">
						<h3 id="writing-correction-text" class="text-center">{{ writingError.correction_text }}</h3>
					</div> 

				</div>

				<div class="col-md-2">
					<button id="next-writing-error" class="btn"><img src="{% static "arrow_right.png" %}"></button> 
				</div>

			</div>
		</div>
	</div>
	{% endif %}



	<h1>{% trans "Practice Sessions" %}</h1>
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">{% trans "Your Practice Sessions" %}</div>
		<div class="panel-body">
			{% if practices %}
			<p>{% trans "View reports from your completed sessions." %}</p>
			<p>{% trans "Start a session, modify a session or cancel a session." %}</p>
			{% else %}
			<p>{% trans "You have not done any practice sessions." %}</p>
			{% endif %}
			<p>{% trans "Book a Session by clicking below!" %}</p>
			<a class="btn btn-primary" href="/practice/book/">{% trans "Book a Session" %}</a><br>
		</div>
		<ul class="list-group">
			{% for practice in practices %}
			<li class="list-group-item">



			{% if practice.state == "WAITING" or practice.state == "NOMODIFY" %}
			<h3>{{practice.topic.headline}}</h3>
			{% localtime on %}
			<strong>{% trans "When" %}: </strong>{{practice.dateTime}} <br>
			<strong>{% trans "Language" %}: </strong>{{practice.topic.language}} <br>				
			<div class="row">
				<div class="col-md-4">
					<br>
					{% if practice.state == "WAITING" %}
					<div class="col-md-3"><a class="btn btn-primary btn-sm" href="/practice/{{ practice.pk }}/update/">{% trans "Modify" %}</a></div>
					{% endif %}
					<form action="/practice/{{ practice.pk }}/delete/" method="post" accept-charset="utf-8">
						{% csrf_token %}
						<div class="col-md-3"><input class="btn btn-primary btn-sm" type="submit" value={% trans "Cancel" %}></div>
					</form>
					<div id="prepare-{{ practice.id }}" class="col-md-3"><a class="btn btn-success btn-sm" href="/practice/{{ practice.pk }}/">{% trans "Prepare" %}</a><br></div>
					<div id="start-{{ practice.id }}" class="col-md-3" style="display:none;"><a class="btn btn-success btn-sm" href="/practice/{{ practice.pk }}/">{% trans "Start" %}</a><br></div>
				</div><br><br>
			</div>
			<br>


			<script>
function countdownComplete(result){
	document.getElementById("prepare-{{ practice.id }}").style.display = "none";
	document.getElementById("start-{{ practice.id }}").style.display = "inline";
}
var myCountdown1 = new Countdown({
time:{{ practice.timeUntil }},
hideLine : true,		
rangeHi : "day",
numbers : {
bkgd : "#FF9966"
},
onComplete : countdownComplete
});
			</script>
			<div id="countdown-{{ practice.id }}" style="display:none;">{{ practice.timeUntil }}</div>
			{% endlocaltime %}

			{% endif %}



			{% if practice.state == "SPEAKING" %}
			<h3>{{practice.topic.headline}}</h3>
			{% localtime on %}
			<strong>{% trans "When" %}: </strong>{{practice.dateTime}} <br>
			<strong>{% trans "Language" %}: </strong>{{practice.topic.language}} <br>					<div class="row">
				<div class="col-md-3">
					<br>
					<p>{% trans "The session has already started!" %}</p>
					<div id="start-{{ practice.id }}" class="col-md-3"><a class="btn btn-success btn-sm" href="/practice/{{ practice.pk }}/">{% trans "Start" %}</a><br></div>
				</div>
				{% endlocaltime %}

				{% endif %}



				{% if practice.state == "WRITING" %}
				{% localtime on %}
				<strong>{% trans "When" %}: </strong>{{practice.dateTime}} <br>
				<strong>{% trans "Language" %}: </strong>{{practice.topic.language}} <br>
				<div class="row">
					<div class="col-md-3">
						<br><p>{% trans "Speaking Complete!" %}</p>
						{% if practice.speaking_report_published %}
						<a class="btn btn-sm btn-info" href="/report/{{ practice.pk }}/speaking/">{% trans "View Speaking Report" %}</a><br>
						{% else %}
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> {% trans "Report in Progress..." %}
							</div>
						</div>
						{% endif %}
					</div>
					<div class="col-md-3 col-md-offset-1">
						<br>

						{% if practice.writing_complete == True %}
						<p>{% trans "Writing Complete!" %}</p>
						<div class="progress">
							<div class="progress-bar progress-bar-striped  progress-bar-warning active" role="progressbar" aria valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> {% trans "Report in Progress..." %}
							</div>
						</div>
						{% else %}
						<p class="text-center">{% trans "You still have time to do the writing." %}
						<br><a class="btn btn-success btn-sm" href="/practice/{{ practice.pk }}/">{% trans "Start" %}</a></p>

						{% endif %}
						{% endlocaltime %}
					</div>
				</div>
				{% endif %}



				{% if practice.state == "COMPLETE" %}
				<h3>{{practice.topic.headline}}</h3>
				{% localtime on %}
				<strong>{% trans "When" %}: </strong>{{practice.dateTime}} <br>
				<strong>{% trans "Language" %}: </strong>{{practice.topic.language}} <br>
				<div class="row">
					<div class="col-md-3">
						<br><p>{% trans "Speaking Complete!" %}</p>
						{% if practice.speaking_report_published %}
						<a class="btn btn-sm btn-info" href="/report/{{ practice.pk }}/speaking/">{% trans "View Speaking Report" %}</a><br>
						{% else %}
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> {% trans "Report in Progress..." %}
							</div>
						</div>
						{% endif %}
					</div>
					<div class="col-md-3 col-md-offset-1">
						<br>
						{% if practice.writing_report_published == True %}
						<p>{% trans "Writing Complete!" %}</p>
						<a class="btn btn-sm btn-info" href="/report/{{ practice.pk }}/writing/">{% trans "View Writing Report" %}</a><br>
						{% elif practice.writing_complete == False %}
						<p>{% trans "Writing Complete!" %}</p>
						<div class="progress">
							<div class="progress-bar progress-bar-striped  progress-bar-warning active" role="progressbar" aria valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> {% trans "Report in Progress..." %}
							</div>
						</div>
						{% else %}
						<p class="text-center">{% trans "You haven't done the writing yet." %}
						<br><a class="btn btn-success btn-sm" href="/practice/{{ practice.pk }}/">{% trans "Start" %}</a></p>

						{% endif %}
					</div>
					<div class="col-md-3 col-md-offset-1">
						<p class="text-center">{% trans "Your rating" %}
						<input id="input-id-{{ practice.pk }}" type="number" value="{{ practice.rating }}" class="rating" practice_id="{{ practice.pk }}" min=0 max=5 step=0.5 data-size="sm" data-show-clear="false" data-show-caption="false" >
					</div>
				</div>
				{% endlocaltime %}
				{% endif %}	



				</li>
				{% endfor %}
			</ul>
		</div>	
		<ul class="pagination">
			{% if practices.has_previous %}
			<li><a href="?page={{ practices.previous_page_number }}">&laquo;</a></li>
			{% else %}
			<li class="disabled"><span>&laquo;</span></li>
			{% endif %}

			{% for i in paginator.page_range %}
			<li {% if practices.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
			{% endfor %}

			{% if practices.has_next %}
			<li><a href="?page={{ practices.next_page_number }}">&raquo;</a></li>
			{% else %}
			<li class="disabled"><span>&raquo;</span></li>
			{% endif %}
		</ul>

	</div>



	{% endblock%}
