{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}

{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li class="active"><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/help/">{% trans "How does this work?" %}</a></li>
{% endblock %}


{% block body %}

	<div class="pull-right">
		<ol class="breadcrumb">
			<li><a href="/practice/list/">{% trans "Practice Sessions" %}</a></li>
			<li><a href="/practice/book/">{% trans "Book a Session" %}</a></li>
			<li class="active">{{ object.headline }}</li>
		</ol>
	</div>
	<br>
	<h1>{{ object.headline }}</h1>
	<!--	<form id="booking-form" class="form form-horizontal" action="/practice/{{ topic.pk }}/add/" method="post" accept-charset="utf-8"> -->
	<form id="booking-form" class="form form-horizontal" action="/practice/book/payment/topic.pk }}/add/" method="post" accept-charset="utf-8">
		{% csrf_token %}
		{{ practice_form.as_table }} 
		<p><input id="booking-btn" class="btn btn-primary" type="submit" value={% trans "Book Session" %}></p>
	</form>
	{% trans "Created by" %}: {{ object.created_by  }}<br>
	{% trans "Language" %}: {{ object.language  }}<br>
	{% trans "Date" %}: {{ object.creation_date  }}<br><br>
	{% trans "Learner's Text" %}: {{ object.learners_text|safe  }}<br>
	<br>
	<form id="booking-form" class="form form-horizontal" action="/practice/{{ topic.pk }}/add/" method="post" accept-charset="utf-8">
		{% csrf_token %}
		{{ practice_form.as_table }} 
		<p><input id="booking-btn" class="btn btn-primary" type="submit" value={% trans "Book Session" %}></p>
	</form>
	<br>
{% endblock%}
