{% extends 'lambada/base.html' %}


{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}
{% load bootstrap %}
{% load static from staticfiles %}

	
	{{ form.media }}

{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li class="active"><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/settings/">{% trans "Settings" %}</a></li>
{% endblock %}

{% block body %}
	<div class="pull-right">
		<ol class="breadcrumb">
			<li><a href="/practice/list/">{% trans "Practice Sessions" %}</a></li>
			<li class="active">{{ practice.topic.headline }}</li>
		</ol>
	</div>
	<div class="col-md-10 col-md-offset-1">
	<h1>{{ practice.topic.headline }}</h1>
	{% trans "Language" %}: {{ practice.topic.language  }}<br>
	{% trans "Date and Time" %}: {{ practice.dateTime  }}<br><br>

	{% if practice.state == "WAITING" or practice.state == "NOMODIFY" %}
		<div id="countdown">
					<script>
						function countdownComplete(result){
							document.getElementById("session-not-started").style.display = "none";
							document.getElementById("countdown").style.display = "none";
							document.getElementById("waiting-for-coach").style.display = "block";
						}
						var myCountdown1 = new Countdown({
							time:{{ practice.timeUntil }},
							hideLine : true,		
							rangeHi : "day",
							numbers : {
								bkgd : "#FF9966"
							},
							onComplete : countdownComplete
						});
					</script>
		</div>
	{% endif %}

	<h2>{% trans "Speaking practice" %}</h2>
	<h1>	<p id="call-timer" class="text-center">00:00</p></h1>

	<div class="progress">
	<div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
	  </div>
	</div>


	{% if practice.state == "WAITING" or practice.state == "NOMODIFY" %}
		<div id="session-not-started" class="alert alert-warning">{% trans "This session is has not yet started." %}</div>
		<div id="waiting-for-coach" class="alert alert-info" style="display:none;">{% trans "Waiting for your coach to join..." %}</div>
		<div id="coach-joined-msg" class="alert alert-warning" style="display:none;" priv_id="joined1">{% trans "Your coach has joined!" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="rooms-list"><button id="join-button" style="display:none;"></button></span></div>
		<div id="waiting-for-mic" class="alert alert-danger" style="display:none;">{% trans "Waiting for you to share your microphone..." %}</div>
		<div id="connecting-to-coach" class="alert alert-warning" style="display:none;">{% trans "Joining" %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img id="con" src="{% static "connecting.gif" %}"></div>
		<div id="in-progress" class="alert alert-success" style="display:none;">{% trans "Call in progress" %}</div>
		<div id="call-dropped" class="alert alert-danger" style="display:none;">{% trans "The call has dropped. Please wait for your coach to re-join." %}</div>
		<div id="call-complete" class="alert alert-info" style="display:none;">{% trans "The call has been completd." %}</div>


	{% elif practice.state == "SPEAKING" %}
		<div id="waiting-for-coach" class="alert alert-info">{% trans "Your coach hasn't joined yet..." %}</div>
		<div id="coach-joined-msg" class="alert alert-warning" style="display:none;" priv_id="joined1">{% trans "Your coach has joined!" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="rooms-list"><button id="join-button" style="display:none;"></button></span></div>
		<div id="waiting-for-mic" class="alert alert-danger" style="display:none;">{% trans "Waiting for you to share your microphone..." %}</div>
		<div id="connecting-to-coach" class="alert alert-warning" style="display:none;">{% trans "Joining" %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img id="con" src="{% static "connecting.gif" %}"></div>
		<div id="in-progress" class="alert alert-success" style="display:none;">{% trans "Call in progress" %}</div>
		<div id="call-dropped" class="alert alert-danger" style="display:none;">{% trans "The call has dropped. Please wait for your coach to re-join." %}</div>
		<div id="call-complete" class="alert alert-info" style="display:none;">{% trans "The call has been completd." %}</div>


	{% elif practice.state == "WRITING" %}
		{% if practice.writing_complete == True %} 
			<div id="session-complete" class="alert alert-success">{% trans "This session has been completed. You still have some time left to improve your Writing exercise." %}</div>
		{% else %}
			<div id="session-complete" class="alert alert-success">{% trans "The call has finished, time to do the Writing exercise below." %}</div>
		{% endif %}


	{% else %}
		<div id="session-complete" class="alert alert-success">{% trans "This session has been completed." %}</div>
	{% endif %}


		<div id="audios-container" style="display:none;"></div>

	{{practice.topic.learners_speaking_instructions|safe }}


	{% if practice.state == "WAITING" or practice.state == "NOMODIFY" or practice.state == "SPEAKING" %}
		<br>
	<div class="alert alert-info" style="display:none;">{% trans "Do the Writing exercise below." %}</div>
	{% elif practice.state == "WRITING" %}
		<br>
		<div class="alert alert-info">{% trans "Do the Writing exercise below." %}</div>
	{% endif %}

	<h2>{% trans "Writing practice" %}</h2>
	{{practice.topic.learners_writing_instructions|safe }}


	{% if practice.state != "COMPLETE" %}
	<div class="col-md-10">
	<form class="form form-horizontal" action="/practice/{{practice.pk }}/add_writing/" method="post" accept-charset="utf-8">
		{% csrf_token %}
		{{ practice_writing_form.learners_writing|bootstrap }} 
		<p><input class="btn btn-primary" type="submit" value={% trans "Save" %}></p>
	</form>
	</div>
	{% else %}
		<div id="session-complete" class="alert alert-success">{% trans "This session has been completed." %}</div>
	{% endif %}
</div>

	<br>
	<div id="practice_pk" style="display:none;">{{ practice.pk }}</div>
	<br>
	<script src="//api.turnservers.com/api.js?key=iPYeEvbSBxbhbknHBnjBSLsdUKLDKWVm"></script>
	<script src="{% static "js/language2_audio.js" %}"></script>
	<script src="https://www.webrtc-experiment.com/firebase.js"> </script>
	<script src="{% static "js/RTCMultiConnection-v1.7.js" %}"></script> 
	<!--	<script src="{% static "js/RecordRTC.js" %}"></script>  -->
	<script src="{% static "js/MediaStreamRecorder.js" %}"> </script>
	<script src="{% static "js/s3upload.js" %}"> </script>
	
	
{% endblock%}
