{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}
{% load static from staticfiles %}

{% block top_menu %}
<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
<li class="active"><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
<li><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
<li><a href="/help/">{% trans "How does this work?" %}</a></li>
{% endblock %}


{% block body %}

<div class="pull-right">
	<ol class="breadcrumb">
		<li><a href="/practice/list/">{% trans "Practice Sessions" %}</a></li>
		<li class="active">{{ practice.topic.headline }} - {% trans "Speaking Report" %}<li>
	</ol>
</div>
<br>
<div class="col-md-10 col-md-offset-1">
	<h1>{{ practice.topic.headline }} - Speaking Report</h1>
	{% trans "Language" %}: {{ practice.topic.language  }}<br><br>
	{% trans "Session start time" %}: {{ practice.dateTime  }}<br><br>

</div>
	{% for learnerRecording in learnerRecordings %}
<br>
<div class="col-md-10 col-md-offset-1">
<br>
	<p><audio id="recording-{{ learnerRecording.count }}" src="{{S3_URL}}/{{ learnerRecording.recording }}" controls preload type="audio/ogg"></audio></p>
{% for speakingError in speaking_error_list %}
{% if speakingError.learnerRecording == learnerRecording %}
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3>Mistake at {% if speakingError.error_time_min|length = 1 %}0{% endif%}{{ speakingError.error_time_min }}:{% if speakingError.error_time_sec|length = 1 %}0{% endif%}{{ speakingError.error_time_sec }}</h3>	
		</div>

		<div class="panel-body">

			<div class="col-md-2">
				<a id="play-error{{speakingError.pk}}" class="btn" errorTimeMin="{{ speakingError.error_time_min }}" errorTimeSec="{{ speakingError.error_time_sec }}" recordingNumber=" {{ learnerRecording.count }}"><img src="{% static "play_mistake.png" %}"></a> 
			</div>

			<div class="col-md-2">
				{% if speakingError.correction_recording %}
				<audio id="correction{{speakingError.pk}}" style="display:none;" src="{{S3_URL}}/{{ speakingError.correction_recording }}" controls preload type="audio/ogg"></audio>
				<a id="play-correction{{speakingError.pk}}" class="btn" errorNumber="{{speakingError.pk}}"><img src="{% static "play_correction.png" %}"></a> 
				{% else %}
				<br>
				<p id="play-error-correction-{{ speakingError.pk }}">{% trans "There is no recorded correction." %}</p>
				{% endif %}
			</div>

			<div class="col-md-7">
				{% if speakingError.correction_text %}
				<p id="written-correction-{{ speakingError.pk }}"><h3>{{ speakingError.correction_text }}</p></h3>
				{% else %}
				<p id="written-correction-{{ speakingError.pk }}">{% trans "There is no written correction." %}</p>
				{% endif %}
			</div>

			<br>
		</div>
	</div>
{% endif %}
{% endfor %}
</div>
<br>

{% endfor  %}


<div class="col-md-10 col-md-offset-1">
			<a href="/practice/list/" class="btn btn-primary">{% trans "Go Back" %}</a>
			<br>
			<br>
		</div>
			<br>

			<div id="practice_pk" style="display:none;">{{ practice.pk }}</div>
			<script src="{% static "js/language2_reports.js" %}"></script>
			<!-- <script src="{% static "js/RTCMultiConnection-v1.7.js" %}"></script> -->
			<!-- 	<script src="{% static "js/RecordRTC.js" %}"></script>  -->
			<!--			<script src="{% static "js/MediaStreamRecorder.js" %}"> </script> -->

			{% endblock%}
