{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load static %}
{% load i18n %}
{% load tz %}
{% load bootstrap %}

{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li class="active"><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/help/">{% trans "How does this work?" %}</a></li>
{% endblock %}


{% block body %}

	<div class="pull-right">
		<ol class="breadcrumb">
			<li><a href="/topic/list/">{% trans "My Topics" %}</a></li>
			<li class="active">{% trans "Design Topic" %}</li>
		</ol>
	</div>
<h1>{% trans "Design Topic" %}</h1>
	<form class="form form-horizontal" action="/topic/add/" method="post" accept-charset="utf-8">
		<button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
		{% csrf_token %}
		{{ form|bootstrap_horizontal }} 
	</form>

{% endblock%}
