{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}

{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li class="active"><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/help/">{% trans "How does this work?" %}</a></li>
{% endblock %}


{% block body %}
	<div class="pull-right">
		<ol class="breadcrumb">
			<li class="active">{% trans "My Topics" %}</li>
		</ol>
	</div>
	<br>
	<br>
	<div class="col-md-10 col-md-offset-1">
	<h1>{% trans "My Topics" %}</h1>
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">{% trans "Topics created by " %} {{ user.username }}</div>
		{% if topic_list %}
			<div class="panel-body">
				<p>{% trans "This is a list of all the topics you have created. You can view, update or delete these topics." %}</p>
			</div>
		{% else %}
			<div class="panel-body">
				<p>{% trans "You have not created any topics. Get started!" %}</p>
				<a class="btn btn-primary" href="/topic/add/">{% trans "Create a Topic" %}</a>
			</div>
		{% endif %}
		<ul class="list-group">
			{% for topic in topic_list %}
				<li class="list-group-item">
					<h3>{{topic.headline}}</h3>
					<strong>{% trans "Language" %}: </strong>{{topic.language}}<br>
					<strong>{% trans "Creation date" %}: </strong>{{topic.creation_date}}<br>
					<strong>{% trans "Published" %}: </strong>{{topic.published}}<br><br>
					<form action="/topic/{{ topic.pk }}/delete/" method="post" accept-charset="utf-8">
					<a class="btn btn-primary" href="/topic/{{ topic.pk }}/">{% trans "View" %}</a>
					<a class="btn btn-primary" href="/topic/{{ topic.pk }}/update/">{% trans "Edit" %}</a>
					<a class="btn btn-primary" href="/topic/{{ topic.pk }}/publish/">{% trans "Publish" %}</a>
					{% csrf_token %}
					<input class="btn btn-primary" type="submit" value={% trans "Delete" %}>
					</form>	
				</li>
			{% endfor %}
		</ul>
	</div>	

	{% if is_paginated %}
		<ul class="pagination">
			    {% if page_obj.has_previous %}
				    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
			    {% else %}
				    <li class="disabled"><span>&laquo;</span></li>
			    {% endif %}
		
				{% for i in paginator.page_range %}
				<li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
				{% endfor %}
		
			    {% if page_obj.has_next %}
			   	 <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
			    {% else %}
				    <li class="disabled"><span>&raquo;</span></li>
	   	            {% endif %}
		 </ul>
	{% endif %}
</div>
{% endblock%}
