{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load i18n %}
{% load tz %}

{% block top_menu %}
	<li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
	<li><a href="/practice/list/">{% trans "Practice a Language" %}</a></li>
	<li><a href="/coach/list/">{% trans "Coach a Learner" %}</a></li>
	<li class="active"><a href="/topic/list/">{% trans "Design a Topic" %}</a></li>
	<li><a href="/settings/">{% trans "Settings" %}</a></li>
{% endblock %}


{% block body %}

	<div class="pull-right">
		<ol class="breadcrumb">
			<li><a href="/topic/list/">{% trans "My Topics" %}</a></li>
			<li><a href="/topic/{{ object.pk }}/update/">{% trans "Design Topic" %}</a></li>
			<li class="active">{% trans "Topic Preview" %}</li>
		</ol>
	</div>
	<br>
	<a class="btn btn-primary" href="/topic/{{ object.pk }}/update/">{% trans "Modify" %}</a>
	{% if topic.published == False %}
		<a class="btn btn-primary" href="/topic/{{ object.pk }}/publish/">{% trans "Publish" %}</a>
	{% else %}
		<a class="btn btn-primary" href="/topic/{{ object.pk }}/unpublish/">{% trans "Un-Publish" %}</a>
	{% endif %}
<h1>{{ object.headline }}</h1>
	<b>{% trans "Created by" %}</b>: {{ object.created_by  }}<br>
	<b>{% trans "Language" %}</b>: {{ object.language  }}<br>
	<b>{% trans "Date" %}</b>: {{ object.creation_date  }}<br>
	<b>{% trans "Learner's Speaking Instructions" %}</b>: {{ object.learners_speaking_instructions|safe  }}<br>
	<b>{% trans "Learner's Writing Instructions" %}</b>: {{ object.learners_writing_instructions|safe  }}<br>
	<b>{% trans "Guide's Text" %}</b>: {{ object.guides_speaking_instructions|safe  }}<br>
	<br>
	
	<a class="btn btn-primary" href="/topic/{{ object.pk }}/update/">{% trans "Modify" %}</a>
	{% if topic.published == False %}
		<a class="btn btn-primary" href="/topic/{{ object.pk }}/publish/">{% trans "Publish" %}</a>
	{% else %}
		<a class="btn btn-primary" href="/topic/{{ object.pk }}/unpublish/">{% trans "Un-Publish" %}</a>
	{% endif %}
	<br>
	<br>
<!--	<form action="/topic/{{ topic.pk }}/delete/" method="post" accept-charset="utf-8">
		{% csrf_token %}
		<p><input class="btn btn-primary" type="submit" value={% trans "Delete" %}></p>
	</form> -->

{% endblock%}
