{% extends 'lambada/base.html' %}

{% block title %} Language Lambada {% endblock %}

{% load static %}
{% load i18n %}
{% load tz %}
{% load bootstrap %}

{% block top_menu %}
<li class="active"><a href="#">{% trans "Create a Topic" %}</a></li>
<li><a href="/topic/list/">{% trans "Manage My Topics" %}</a></li>
{% endblock %}

{% block left_menu %}
	<li><a href="/practice/">{% trans "Practice a Language" %}</a></li>
	<li><a href="#">{% trans "Guide a Learner" %}</a></li>
	<li class="active"><a href="/topic/add/">{% trans "Create a Topic" %}</a></li>
	<li><a href="#">{% trans "How does this work?" %}</a></li>
	<li><a href="#">{% trans "My Profile" %}</a></li>
{% endblock %}


{% block body %}

<h1>{% trans "Create a Topic" %}</h1>
	<form class="form form-horizontal" action="/topic/add/" method="post" accept-charset="utf-8">
		{% csrf_token %}
		{{ form|bootstrap_horizontal }} 
		<p><input class="btn btn-primary" type="submit" value={% trans "Save" %}></p>
	</form>

{% endblock%}
